@model MKS.Web.FeatureRequests.Model.MVC.Project.Project

<div class="row">
    @using (var form = Bootstrap.BeginForm(FormType.Horizontal))
    {
        @(form.GroupFor(m => m.Name, "Name")
            .Control(Bootstrap.Input().Placeholder("name")))

        @(form.GroupFor(m => m.Description, "Description")
            .Control(Bootstrap.Input().Placeholder("description")))

        using (form.Group().BeginContent())
        {
            <button class="btn btn-success" type="submit">Save</button>
            @Bootstrap.Button(ButtonType.DefaultGray, "Cancel").Href(Url.Action("List"))
        }
    }
</div>